body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: auto;
}

ul {
  padding-left: 30px;
}
form {
  margin: 20px;
  width: 80%;
}

img {
  width: 100%;
}

iframe{
 width: 100%;
 height: 350px;
}

.table.history {
  margin: 5%;
  font-size: 70%;
  width: 90%;
  border-collapse: collapse;
  word-wrap: break-word;
}
.table.cell {
  border: 1px solid black;
  text-align: center;
  width: 20%;
}
.input.name{
  width: 65%;
}
.input.power{
  margin-right: 10%;
  width: 30%;
}
.firstLabel{
  margin-right: 10%;
}
.box.config {
  margin-bottom: 20px;
  margin-left: 4%;
  float: right;
  border: 2px solid black;
  border-radius: 20px;
  width: 20%;
}
.box.graph {
  margin-bottom: 10px;
  float: left;
  border: 2px solid black;
  border-radius: 20px;
  width: 50%;
}
.box.history{
  margin-bottom: 10px;
  margin-right: 4%;
  float: left;
  border: 2px solid black;
  border-radius: 20px;
  height: 956px;
  width: 370px;
  overflow: auto;
  
}
.center{
  width: auto;
}
.clear{
  clear: both;
}
.box.consumehistory{
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 20px;
  float: right;
  width: auto;
  
}
